.button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  span {
    display: block;
    margin: auto;
    width: 4px;
    height: 4px;
    background-color: var(--bg-bento-menu);
  }
}