:root {
  --default-font-size: 16px;
  --default-text-color: #141e27;
  --default-font-weight: 400;
  --default-font-family: 'Montserrat';

  --bg-navbar: #f7f7f7;
  --bg-app: #ececec;
  --bg-bento-menu: #141e27;
  --bg-mobile-popup: #f7f7f7;
  --bg-info: #f7f7f7;
  --bg-divider: #000;
  --bg-language-switch: #ececec;

  --clr-text-active: #ff8aae;
  --clr-text: #141e27;
  --clr-github: #000;

  --app-min-width: 320px;
}

[data-theme='dark'] {
  --default-text-color: #e2e2e2;

  --bg-navbar: #1f1f1f;
  --bg-app: #121212;
  --bg-bento-menu: #e2e2e2;
  --bg-info: #1f1f1f;
  --bg-divider: #fff;
  --bg-language-switch: #121212;

  --clr-text: #e2e2e2;
  --clr-github: #fff;
}