.container {
  margin: 30px auto 0 auto;
  padding: 0 15px;
  max-width: 900px;
}

.centered {
  text-align: center;
}

.title {
  margin-bottom: 30px;
  font-weight: 400;
  color: var(--clr-text);
  font-size: 14px;
}